p {
    color: white;
    font-family: 'Archivo', sans-serif;
}

#ParaStyle {
    color: white;
    font-family: "Archive", sans-serif;
    margin: 20px;
    padding: 25px;
}

.ParaContainer {
    height: auto;
    width: auto;
    border: 100px;
    margin: 100px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-header {
    color: white;
    text-align: center;
    font-family: "Archivo", sans-serif;
    font-size: 75px;
    margin-top: 35px;
}

.dataTable {
    font-family: "Archivo", sans-serif;
    color: white;
    margin-top: 3rem !important;
}

.data-text {
    color: white;
    font-family: "Archivo", sans-serif;
    margin: 75px;
}