<div style={alignStyle}>
          {/* Form filtering */}
          <Filter />
          <Post />
        </div>

.pageStyle {
  backgroundColor: #18191A;
}
        
.alignStyle {
  display: "flex",
  flexDirection: "row"
}