.divCars {
    color: white;
    font-family: "Archivo", sans-serif;

}

.img-fluid {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.CareersText {
    color:white;
    text-align: center;
}

.profile {

}