.divCars {
  color: white;
  font-family: "Archivo", sans-serif;
}

.careers-header {
  color: white;
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 35px;
}

.page-title {
  color: white;
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-size: 80px;
}

.profile-title {
  font-family: "Archivo", sans-serif;
  color: white;
}

.profile-text {
  font-family: "Archivo", sans-serif;
  color: white;
}

.profile-body {
  background-color: #3a3b3c;
  border: none;
}

.career-container {
  font-family: "Archivo", sans-serif;
  margin: 15px;
}

.career-team {
  font-family: "Archivo", sans-serif;
  display: flex;
  flex-direction: row;
}

#github-icon {
  color: white;
  height: 50px;
  weight: 50px;
  padding: 10px;
  margin: 10px;
}

.button {
  margin: 10px;
}