.divFilter {
  padding: 10px;
  margin: 10px; 
  background-color: #242526;
  display: flex;
  border-radius: 10px;

  /* width: 300px;
  border-radius: 10px;
  height: 500px; */
  flex-direction: column;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.header-filter {
  color: #ffffff;
  /* margin: 15px;
  border: 5px; */
  font-family: "Archivo", sans-serif;
  font-size: 75px;
  text-align: center;
}

.group {
  color: #ffffff;
  /* margin: 10px;
  padding: 10px;
  border: 5px;
  margin-left: 10px; */
}

.label {
  color: #ffffff;
  /* display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px; */
  font-family: "Archivo", sans-serif;
}

.control {
  /* display: inline-flex;
  flex-direction: column; */
  font-family: "Archivo", sans-serif;
  /* display: flex;
  margin-right: 50px;
  margin: 20px;
  padding: 10px; */
}

.blood-type, .race {
  color: white;
  font-family: "Archivo", sans-serif;
}

/* .groupForms {
  height: 500px;
} */