#icons {

    background-color: white;
    height: 50px;
    width: 45px;
    padding: 5px;
    margin: 2px;
    justify-content: center; 
    border-radius: 50px;
    border-style: solid white;
}

.header {

    font-family: "Archivo", sans-serif;
    color: white;
    text-align: center;
}

.listText
{
    font-family: "Archivo", sans-serif;
    color: white;
    text-align: center;

}

.div {
    height: 200px;
    width: 100%;
    display: flex;
    margin: auto;
    /* padding: 10px; */
    justify-content: space-around;
    flex-direction: row;
    /* position: relative;
    top: 0px; */
}