.div {
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: #242526;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
}

.header {
  color: #ffffff;
  padding: 10px;
  font-family: "Archivo", sans-serif;
}

.control {
  font-family: "Archivo", sans-serif;
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  flex: inline-flex;
  flex-direction: row;
}

.label {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  height: 20px;
}

.group {
  font-family: "Archivo", sans-serif;
  display: inline-flex;
  flex-direction: column;
}
