.divForms {
  padding: 10px;
  /* margin: 10px; */
  display: flex;
  background-color: #242526;
  /* border-radius: 10px;
  width: 300px;
  height: 600px; */
  flex-direction: column;
  font-family: "Archivo", sans-serif;
}

.headerForms {
  color: #ffffff;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 80px;
}

.controlForms {
  font-family: "Archivo", sans-serif;
}

.labelForms {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
}

.groupForms {
  font-family: "Archivo", sans-serif;
}

.bubbleFills {
  color:  #ffffff;
  font-family: "Archive", sans-serif;
}

#FormsCell {
  height: 25px;
  width: 80px;
  text-align: left;
  margin: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 15px;
  border: 5px;
  flex: flex;
  flex-direction: column;
}

.form-input-container {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.spacing-forms {
  margin-top: 80px;
  padding-top: 30px;
}