.divPost {
  padding: 10px;
  margin: 10px;
  background-color: #242526;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  flex-grow: 0;
  width: 300px;
  height: 400px;
}

.fontStyle {
  height: 50px;
  padding: 10px;
  margin: 2px;
  color: white;
  display: block;
  font-family: "Archivo", sans-serif;
}

.pageStyle {
  display: flex;
  flex-grow: 2;
  align-content: flex-start;
  flex-wrap: wrap;
}
